<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/nithin-sudarsan/data-mapper</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>nithin-sudarsan</username>
            <password>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</password>
        </server>
        <server>
            <id>registry.hub.docker.com</id>
            <username>nithinsudarsan</username>
            <password>Nithin@2001</password>
        </server>
    </servers>
</settings>